body {
    font-family: sans-serif;
    background-color: #DEDEDE;
    color: black;
    padding: 20px 0 28px 0;
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
}

.app-title {
    text-align: center;
    font-weight: normal;
    font-size: 2.2rem;
}

.data {
    max-width: 650px;
    padding: 20px;
    margin: 30px auto;
    background-color: #FFF;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, .1);
    overflow: hidden;
}

.photo {
    float: left;
    width: 40%;
    margin-right: 15px;
}

.stats {
    font-size: 1.4rem;
    font-weight: normal;
    margin: 0 0 1rem 0;
}

.small {
    font-size: .7rem;
    color: #888;
    vertical-align: middle;
}

.extrasmall {
    font-size: .6rem;
    color: #888;
    vertical-align: middle;
}

.footer {
    font-size: .6rem;
    color: #888;
    text-align: center;
    margin: 0;
}